@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@300;400&display=swap');
@import './styles/grid.css';

:root {
    --avatar-size: 18rem;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 20px;
}

body {
    font-family: 'Bebas Neue', sans-serif;
    background-color: rgba(0, 0, 0, 0.85);
}

body::after {
    content: '';
    position: absolute;
    inset: 0;
    background: url('./img/circles.svg') no-repeat 100% 100% / 40rem;
    z-index: -1;
}

.blur-top,
.blur-bottom {
    width: 10rem;
    height: 10rem;
    position: absolute;
    border-radius: 50%;
    background: rgb(248, 78, 171);
    filter: blur(8rem);
    backdrop-filter: blur(2rem);
    opacity: .4;
    z-index: -1;
}

.blur-top {
    left: 0;
    top: 0;
}

.blur-bottom {
    right: 5%;
    bottom: 5%;
}

.avatar {
    width: var(--avatar-size);
    height: var(--avatar-size);
    border-radius: 50%;
    border: .5rem solid #fff;
    position: absolute;
    object-fit: cover;
    background-color: #fff;
}

#app {
    grid-template-rows: 18.5rem 5.5rem 18rem 5.8rem;
}

header {
    grid-template-columns: 15.25rem auto 4.5rem 15.8rem;
}

header .heading {
    margin-top: 5rem;
    padding-left: 2rem;
}

header .heading::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    border: 2px solid rgba(255, 255, 255, 0.5);
}

header .heading h1 {
    color: #fff;
    font-size: 7.5rem;
    line-height: 6.5rem;
}

.heading h1:last-child {
    margin-top: 2rem;
    line-height: 5rem;
}

header .star {
    height: 7.5rem;
    border-radius: 0 0 2.5rem 2.5rem;
    background-color: #fff;
}

header .star .icon-star {
    color: #000;
    font-size: 3rem;
    margin-bottom: 1.5rem;
}

main .accordion .person{
    width: 18rem;
    display: flex;
    border-radius: 20rem;
    transition: all .5s ease-in-out;
}
main .accordion .person:not(:last-child) {
    margin-right: -9rem;
}

main .accordion .person.active {
    width: 55rem;
    height: 18rem;
    display: flex;
    border-radius: 20rem;
    background-color: #fff;
}

main .accordion .person .pic {
    width: var(--avatar-size);
    height: var(--avatar-size);
}
main .accordion .person .pic .social{
    width: 2rem;
    height: 2rem;
    background-color: #000;
    bottom: 0;
    left: 0;
    z-index: 999;
}


main .accordion .person .detail {
    width: 0;
    height: 0;
    font-family: 'Roboto', sans-serif;
    padding: 2.5rem 0 0 2.25rem;
    
}
main .accordion .person.active .detail {
    width: 25rem;
    height: 16rem;
    overflow: hidden;
}
main .accordion .person .detail:not(.person.active .detail) {
    display: none;
}

main .accordion .person .detail h3 {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 105%;
    letter-spacing: -0.02em;
    color: #333333;
}

main .accordion .person .detail span.sub-header {
    font-weight: 400;
    font-size: .85rem;
    line-height: 150%;
    color: #686868;
}

main .accordion .person .detail p {
    margin-top: 1.3rem;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 150%;
    color: #464646;
}