* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(120deg, rgb(84, 84, 180) 20%, red, rgb(84, 84, 180), #fff);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 90vw;
    height: 450px;
    background: rgba(255, 255, 255, 0.39);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1), inset 0 0 0 2000px rgba(255,255,255,0.08);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.61);
    display: flex;
    align-items: center;
}

.acordion {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex: 0.9;
    height: 90%;
    margin-left: -10px;
    cursor: pointer;
    border-radius: 10px;
    position: relative;
    transition: all .3s ease-in;
    background-color: #fff;
    box-shadow: -8px 0 7px -5px rgba(0, 0, 0, 0.808);
}

.acordion:first-child {
    margin-left: 10px;
}

.acordion:last-child {
    margin-right: 10px;
}

.acordion.active {
    flex: 4;
    border-radius: 10px;
    cursor: default;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.26);
    margin: 0 20px 0 10px;
    background-color: transparent;
    background-image: url('./img/tekken.png');
    background-position: center;

}

.acordion h3 {
    padding: 5px;
    color: #fff;
    position: absolute;
    overflow: hidden;
    opacity: 0;
    top: 50%;
    left: -50%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7) 30%, transparent);
    border-radius: 5px;
    transition: opacity .35s, left .5s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}

.acordion.active h3 {
    left: 30px;
    opacity: 1;
    cursor: pointer;
}