@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 20px;
}

body {
    font-family: 'Bebas Neue', sans-serif;
    background-color: rgba(0, 0, 0, 0.85);
}

body::after {
    content: '';
    position: absolute;
    inset: 0;
    background: url('./img/circles.svg') no-repeat 100% 100% / 40rem;
}

.col{
    width: 100%;
}
.col-1{
    width: 8.33%;
}
.col-2{
    width: 16.6%;
}
.col-3{
    width: 25%;
}
.col-4{
    width: 33.2%;
}
.col-5{
    width: 41.65%;
}
.col-6{
    width: 50%;
}
.col-7{
    width: 58.31%;
}
.col-8{
    width: 66,65%;
}
.col-9{
    width: 75%;
}
.col-10{
    width: 83.3%;
}
.col-11{
    width: 92%;
}
.col-12{
    width: 100%;
}
.row{
    display: flex;
    width: 100%;
}

.x-center{
    position: absolute;
    left: 50%;
    translate: -50% 0;
}
.y-center{
    position: absolute;
    top: 50%;
    translate: 0 -50%;
}

.rect-top,
.rect-bottom {
    width: 10rem;
    height: 10rem;
    position: absolute;
    border-radius: 50%;
    background: rgb(248, 78, 171);
    filter: blur(8rem);
    backdrop-filter: blur(2rem);
    opacity: .4;
    z-index: -1;
}

.rect-top {
    left: 0;
    top: 0;
}

.rect-bottom {
    right: 5%;
    bottom: 5%;
}

.heading{
    position: relative;
    top: 3.75rem;
    display: flex;
    padding-left: 1.5rem;
    flex-direction: column;
    justify-content: center;
  
}

.heading::after{
    content: '';
    width: 0;
    height: 100%;
    position: absolute;
    left: 0;
    border: .1rem solid #fff;
    opacity: .5;
} 
.heading h1{
    color: #fff;
    font-size: 7.5rem;
    line-height: 6.5rem;
}
.heading h1:last-child{
    margin-top: 2rem;
    line-height: 5rem;
}

.star{
    width: 4.5rem;
    height: 8rem;
    position: absolute;
    right: 16rem;
    border-radius: 0 0 2.5rem 2.5rem;
    background-color: #fff;
}