* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
}

.line {
    width: 100%;
    height: 120px;
    background-color: #f9b202;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.line span {
    text-transform: uppercase;
    font: bold 72px sans-serif;
    line-height: 95px;
}

.line:hover span {
    animation: animate .05s ease;
}

@keyframes animate {
    100% {
        color: red;
        font-size: 95px;
    }
}